<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangmo.xizhu.customer.dao.DailyRecordDao">
    <resultMap id="DailyRecordMap" type="com.tangmo.xizhu.customer.entity.DailyRecord">
        <id column="uuid" property="uuid"/>
        <result column="parent_id" property="parentId"/>
        <result column="content" property="content"/>
        <result column="picture_id" property="pictureId"/>
        <result column="audio_id" property="audioId"/>
        <result column="content_type" property="contentType"/>
        <result column="base_type" property="baseType"/>
        <result column="created_time" property="createdTime"/>
    </resultMap>

    <select id="selectByParentAndType" resultMap="DailyRecordMap">
      select uuid,parent_id,content,picture_id,audio_id from s_daily_record
       where parent_id = #{parentId} and content_type= #{contentType} and base_type= #{baseType}
    </select>

    <delete id="deleteByParentAndBase">
        delete from s_daily_record where parent_id = #{parentId} and base_type= #{baseType}
    </delete>

    <insert id="insertBatchUser" parameterType="java.util.List">
        insert into s_daily_record (parent_id, content,  picture_id, audio_id, content_type,base_type)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.parentId},
            #{item.content},
            #{item.pictureId},
            #{item.audioId},
            #{item.contentType},
            #{item.baseType},
            getDate()
            )
        </foreach>
    </insert>
</mapper>