<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangmo.xizhu.customer.dao.ElecRecordDao">
    <resultMap id="ElecRecordMap" type="com.tangmo.xizhu.customer.entity.ElecRecord">
        <id column="uuid" property="uuid"/>
        <result column="task_id" property="taskId"/>
        <result column="device_name" property="deviceName"/>
        <result column="device_type" property="deviceType"/>

        <result column="work_info" property="workInfo"/>
        <result column="work_audio" property="workAudio"/>
        <result column="work_picture" property="workPicture"/>
        <result column="safe_info" property="safeInfo"/>
        <result column="safe_audio" property="safeAudio"/>
        <result column="safe_picture" property="safePicture"/>

        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
    </resultMap>

    <select id="selectById" resultMap="ElecRecordMap">
      SELECT uuid,task_id,device_name,device_type,work_info,work_audio,work_picture,safe_info,safe_audio,safe_picture,created_by,created_time
       from s_elec_record where uuid = #{uuid}
    </select>

    <select id="selectByTaskId" resultMap="ElecRecordMap">
      SELECT uuid,task_id,device_name,device_type,work_info,work_audio,work_picture,safe_info,safe_audio,safe_picture,created_by,created_time
       from s_elec_record where task_id = #{taskId}
    </select>

    <select id="selectDateByTaskId" resultMap="ElecRecordMap">
      SELECT uuid,task_id,created_time
       from s_elec_record where task_id = #{taskId}
    </select>

    <insert id="insertElecRecord" parameterType="com.tangmo.xizhu.customer.entity.ElecRecord" useGeneratedKeys="true" keyProperty="uuid">
        INSERT INTO s_elec_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                uuid,
            </if>
            <if test="taskId != null">
                task_id,
            </if>
            <if test="deviceName != null">
                device_name,
            </if>
            <if test="deviceType != null">
                device_type,
            </if>

            <if test="workInfo != null">
                work_info,
            </if>
            <if test="workAudio != null">
                work_audio,
            </if>
            <if test="workPicture != null">
                work_picture,
            </if>
            <if test="safeInfo != null">
                safe_info,
            </if>
            <if test="safeAudio != null">
                safe_audio,
            </if>
            <if test="safePicture != null">
                safe_picture,
            </if>

            <if test="createdBy != null">
                created_by,
            </if>
                created_time
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                #{uuid},
            </if>
            <if test="taskId != null">
                #{taskId},
            </if>
            <if test="deviceName != null">
                #{deviceName},
            </if>
            <if test="deviceType != null">
                #{deviceType},
            </if>

            <if test="workInfo != null">
                #{workInfo},
            </if>
            <if test="workAudio != null">
                #{workAudio},
            </if>
            <if test="workPicture != null">
                #{workPicture},
            </if>
            <if test="safeInfo != null">
                #{safeInfo},
            </if>
            <if test="safeAudio != null">
                #{safeAudio},
            </if>
            <if test="safePicture != null">
                #{safePicture},
            </if>

            <if test="createdBy != null">
                #{createdBy},
            </if>
                getDate()
        </trim>
    </insert>

    <update id="updateElecRecord">
        UPDATE s_elec_record
        <set>
            <if test="deviceName != null">
                device_name = #{deviceName},
            </if>
            <if test="deviceType != null">
                device_type = #{deviceType},
            </if>
            <if test="workInfo != null">
                work_info = #{workInfo},
            </if>
            <if test="workAudio != null">
                work_audio = #{workAudio},
            </if>
            <if test="workPicture != null">
                work_picture = #{workPicture},
            </if>
            <if test="safeInfo != null">
                safe_info = #{safeInfo},
            </if>
            <if test="safeAudio != null">
                safe_audio = #{safeAudio},
            </if>
            <if test="safePicture != null">
                safe_picture = #{safePicture},
            </if>
        </set>
        WHERE uuid = #{uuid}
    </update>
</mapper>