<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangmo.xizhu.customer.dao.MachRecordDao">
    <resultMap id="MachRecordMap" type="com.tangmo.xizhu.customer.entity.MachRecord">
        <id column="uuid" property="uuid"/>
        <result column="task_id" property="taskId"/>
        <result column="device_name" property="deviceName"/>
        <result column="device_type" property="deviceType"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
    </resultMap>

    <select id="selectByTaskId" resultMap="MachRecordMap">
      SELECT uuid,task_id,device_name,device_type,created_by,created_time
       from s_machine_record where task_id = #{taskId}
    </select>

    <insert id="insertMachRecord" parameterType="com.tangmo.xizhu.customer.entity.MachRecord" useGeneratedKeys="true" keyProperty="uuid">
        INSERT INTO s_machine_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                uuid,
            </if>
            <if test="taskId != null">
                task_id,
            </if>
            <if test="deviceName != null">
                device_name,
            </if>
            <if test="deviceType != null">
                device_type,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                #{uuid},
            </if>
            <if test="taskId != null">
                #{taskId},
            </if>
            <if test="deviceName != null">
                #{deviceName},
            </if>
            <if test="deviceType != null">
                #{deviceType},
            </if>
            <if test="createdBy != null">
                #{createdBy},
            </if>
            <if test="createdTime != null">
                #{createdTime},
            </if>
        </trim>
    </insert>

    <update id="updateMachRecord">
        UPDATE s_machine_record
        <set>
            <if test="deviceName != null">
                device_name = #{deviceName},
            </if>
            <if test="deviceType != null">
                device_type = #{deviceType},
            </if>
        </set>
        WHERE uuid = #{uuid}
    </update>


</mapper>