<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangmo.xizhu.customer.dao.OptRecordDao">
    <resultMap id="RecordMap" type="com.tangmo.xizhu.customer.entity.OptRecord">
        <id column="uuid" property="uuid"/>
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="operation" property="operation"/>
        <result column="created_time" property="createdTime"/>
    </resultMap>

    <select id="selectByTaskIdAndType" resultMap="RecordMap">
      SELECT opt.uuid,opt.user_id,suser.user_name,opt.operation,opt.created_time  from s_opt_record opt left join s_user suser
      on opt.user_id = suser.uuid
      where opt.task_id = #{taskId} and opt.task_type = #{taskType}
    </select>

    <insert id="insertOptRecord" parameterType="com.tangmo.xizhu.customer.entity.OptRecord">
        INSERT INTO s_opt_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                uuid,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="operation != null">
                operation,
            </if>
            <if test="taskId != null">
                task_id,
            </if>
            <if test="taskType != null">
                task_type,
            </if>
            created_time
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                #{uuid},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="operation != null">
                #{operation},
            </if>
            <if test="taskId != null">
                #{taskId},
            </if>
            <if test="taskType != null">
                #{taskType},
            </if>
            getDate()
        </trim>
    </insert>
</mapper>