<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangmo.xizhu.customer.dao.ReportDao">

    <select id="selectTaskMonthCount" resultType="java.util.Map">
        select month(created_time) as taskMonth,count(*) as taskCount
        from s_service_task where  1 = 1
        <if test="status != null">
            and task_status = #{status}
        </if>
        <if test="year != null">
            and year(created_time) = #{year}
        </if>
        <if test="troubleType != null">
            and CHARINDEX(#{troubleType},trouble_type)>0
        </if>
        <if test="assemblyType != null">
            and CHARINDEX(#{assemblyType},assembly_type)>0
        </if>
        group by month(created_time)

    </select>

    <select id="selectTaskReport" resultType="java.util.Map">
        select task.uuid,task.company_name,task.device_type,task.assembly_type,task.trouble_type,task.task_status,
        task.device_address,task.executor,task.created_time FROM s_service_task task
        left join s_audit_task audit on task.uuid = audit.task_id
        where audit.operation = 3
    </select>

    <select id="selectUserState" resultType="java.util.Map">
        select t.user_name,t.dept_name,t.userState,t.address
        (select suser.user_name,suser.dept_name,(case when task.task_status = 2 then 0 else 1 end) as userState,
        punch.address
        from s_user suser left join s_service_task task on suser.uuid = task.executor
        left join s_task_punch punch on task.uuid = punch.task_id
        where suser.status = 0 and suser.user_type = 1 and punch.punch_type = 0
        <if test="userName != null">
            and CHARINDEX(#{suser.user_name},suser.user_name) > 0
        </if>
         ) t
        <if test="userState != null">
            and t.userState = #{userState}
        </if>
    </select>

    <select id="selectTaskMonthTime" resultType="java.util.Map">
        select month(t.created_time) as taskMonth,AVG(meanTime) as meanTime from
        (select task.uuid,task.device_type,task.assembly_type,task.trouble_type,
        audit.created_time,datediff(HOUR,task.created_time,audit.created_time) as meanTime FROM
        s_service_task task left join s_audit_task audit on task.uuid = audit.task_id and audit.operation = 3
        where task.task_status = 2
        <if test="year != null">
            and year(audit.created_time) = #{year}
        </if>
        <if test="troubleType != null">
            and CHARINDEX(#{task.troubleType},trouble_type)>0
        </if>
        <if test="assemblyType != null">
            and CHARINDEX(#{task.assemblyType},assembly_ype)>0
        </if>
        <if test="deviceType != null">
            and CHARINDEX(#{task.deviceType},device_type)>0
        </if>
        ) t
        group by month(t.created_time)
    </select>
</mapper>