<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangmo.xizhu.customer.dao.TaskDao">
    <resultMap id="TaskMap" type="com.tangmo.xizhu.customer.entity.Task">
        <id column="uuid" property="uuid"/>
        <result column="company_id" property="companyId"/>
        <result column="task_no" property="taskNo"/>
        <result column="assembly_type" property="assemblyType"/>
        <result column="trouble_type" property="troubleType"/>
        <result column="task_assign_type" property="taskAssignType"/>
        <result column="detail" property="detail"/>
        <result column="is_outService" property="isOutservice"/>
        <result column="task_status" property="taskStatus"/>
        <result column="task_type" property="taskType"/>
        <result column="created_by" property="createdBy"/>
        <result column="executor" property="executor"/>
        <result column="created_time" property="createdTime"/>

    </resultMap>
    <select id="selectTest" resultMap="TaskMap">
      SELECT task_id, task_type from service_task
    </select>

    <insert id="insertTask" parameterType="com.tangmo.xizhu.customer.entity.Task">
        INSERT INTO service_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                uuid,
            </if>
            <if test="companyId != null">
                company_id,
            </if>
            <if test="taskNo != null">
                task_no,
            </if>
            <if test="assemblyType != null">
                assembly_type,
            </if>
            <if test="troubleType != null">
                trouble_type,
            </if>
            <if test="taskAssignType != null">
                task_assign_type,
            </if>
            <if test="detail != null">
                detail,
            </if>
            <if test="isOutservice != null">
                is_outservice,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="taskStatus != null">
                task_status,
            </if>
            <if test="taskType != null">
                task_type,
            </if>
            <if test="taskCode != null">
                task_code,
            </if>
            <if test="executor != null">
                executor,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                #{uuid},
            </if>
            <if test="companyId != null">
                #{companyId},
            </if>
            <if test="taskNo != null">
                #{taskNo},
            </if>
            <if test="assemblyType != null">
                #{assemblyType},
            </if>
            <if test="troubleType != null">
                #{troubleType},
            </if>
            <if test="taskAssignType != null">
                #{taskAssignType},
            </if>
            <if test="detail != null">
                #{detail},
            </if>
            <if test="isOutservice != null">
                #{isOutservice},
            </if>
            <if test="createdBy != null">
                #{createdBy},
            </if>
            <if test="taskStatus != null">
                #{taskStatus},
            </if>
            <if test="taskType != null">
                #{taskType},
            </if>
            <if test="taskCode != null">
                #{taskCode},
            </if>
            <if test="executor != null">
                #{executor},
            </if>
        </trim>
    </insert>

    <select id="selectByStatusAndUser" resultMap="TaskMap">
        select * FROM service_task where task_status = #{status}
        <if test="userId != null">
            and executor = #{userId}
        </if>
    </select>

    <select id="selectUndoTaskCount" resultType="java.lang.Integer">
        select count(*) from service_task where executor = #{userId} and task_status = 1
    </select>

    <select id="selectById" resultType="java.lang.Integer">
        select count(*) from service_task where uuid = #{uuid}
    </select>


</mapper>